<div class="stepInnerViewContainer" layout="column" layout-align="start center">
  <md-content layout-padding style="width:100%;">
    <md-subheader class="md-primary">Project Requirements</md-subheader>
    <md-input-container class="md-block">
      <label>Project Requirements Summary</label>
      <textarea ng-model="projectState.pdparams.description.description" md-maxlength="500" rows="5" md-select-on-focus></textarea>
    </md-input-container>
    <md-subheader class="md-primary">Project Documentation</md-subheader>
    <lf-ng-md-file-input lf-files="files04" lf-browse-label="Upload Document"></lf-ng-md-file-input>
  </md-content>
</div>
