<div class="view_container">
	<div class="view_App_wrapper" layout="column" layout-align="start start">
		<div class="edit_View_container" layout="column" layout-align="start start">
			<md-toolbar>
	      <div class="md-toolbar-tools">
					<md-menu-bar>
					  <md-menu md-offset="0 0">
					    <md-button style="color:#fff;" ng-mouseenter="checkifOpen($mdOpenMenu,$event)" ng-click="toggleMenu($mdOpenMenu,$event)">
					      Project
					    </md-button>
					    <md-menu-content>
					        <md-menu-item>
										<md-button ng-click="project.run()">
						          <md-icon><ng-md-icon icon="play_circle_outline" size="24"></ng-md-icon></md-icon>
						          <md-tooltip>Run</md-tooltip>
						          Run
					        	</md-button>
									</md-menu-item>
					        <md-menu-divider></md-menu-divider>
						      <md-menu-item>
										<md-button ng-click="project.share()">
							        <md-icon><ng-md-icon icon="recent_actors" size="24"></ng-md-icon></md-icon>
							        <md-tooltip>Share</md-tooltip>
							        Share
							      </md-button>
									</md-menu-item>
					      	<md-menu-item>
										<md-button ng-click="project.publish()">
						        	<md-icon><ng-md-icon icon="cloud_upload" size="24"></ng-md-icon></md-icon>
						        	<md-tooltip>Publish</md-tooltip>
						        	Publish
						      	</md-button>
									</md-menu-item>
					      	<md-menu-item>
										<md-button ng-click="project.editDescription()">
						        	<md-icon><ng-md-icon icon="description" size="24"></ng-md-icon></md-icon>
						        	<md-tooltip>Edit Description</md-tooltip>
						        	Edit Description
					      		</md-button>
									</md-menu-item>
						  	</md-menu-content>
					    </md-menu>
			        <md-menu md-offset="0 48">
			          <md-button style="color:#fff;" ng-mouseenter="checkifOpen($mdOpenMenu,$event)" ng-click="toggleMenu($mdOpenMenu,$event)">
			            File
			          </md-button>
			          <md-menu-content>
					      	<md-menu-item>
										<md-button ng-click="sessions.current().save()">
						        	<md-icon><ng-md-icon icon="save" size="24"></ng-md-icon></md-icon>
						        	<md-tooltip>Save</md-tooltip>
						        	Save
					      		</md-button>
									</md-menu-item>
					      	<md-menu-item>
										<md-button ng-click="sessions.saveAll()">
					        		<md-icon><ng-md-icon icon="control_point_duplicate" size="24"></ng-md-icon></md-icon>
					        		<md-tooltip>Save All</md-tooltip>
					        		Save All
					      		</md-button>
									</md-menu-item>
					      	<md-menu-divider></md-menu-divider>
					      	<md-menu-item>
										<md-button ng-click="files.newFolder()">
						        	<md-icon><ng-md-icon icon="folder" size="24"></ng-md-icon></md-icon>
						        	<md-tooltip>New Folder</md-tooltip>
						        	New Folder
					      		</md-button>
									</md-menu-item>
					      	<md-menu-item>
										<md-button ng-click="files.newFile()">
					        		<md-icon><ng-md-icon icon="insert_drive_file" size="24"></ng-md-icon></md-icon>
					        		<md-tooltip>New File</md-tooltip>
					        		New File
					      		</md-button>
									</md-menu-item>
						      <md-menu-item>
										<md-button ng-click="files.delete()">
							        <md-icon><ng-md-icon icon="delete" size="24"></ng-md-icon></md-icon>
							        <md-tooltip>Delete</md-tooltip>
							        Delete
							      </md-button>
									</md-menu-item>
						      <md-menu-item>
										<md-button ng-click="files.rename()">
						        	<md-icon><ng-md-icon icon="swap_horiz" size="24"></ng-md-icon></md-icon>
						        	<md-tooltip>Rename</md-tooltip>
						        	Rename
						      	</md-button>
									</md-menu-item>
			            <md-menu-divider></md-menu-divider>
					      	<md-menu-item>
										<md-button  ng-click="files.downloadFile()">
					        		<md-icon><ng-md-icon icon="file_download" size="24"></ng-md-icon></md-icon>
					        		<md-tooltip>Download File</md-tooltip>
					        		Download Files
					      		</md-button>
									</md-menu-item>
					      	<md-menu-item>
										<md-button ng-click="files.uploadFile()">
					        		<md-icon><ng-md-icon icon="file_upload" size="24"></ng-md-icon></md-icon>
					        		<md-tooltip>Upload File</md-tooltip>
					        		Upload File
					      		</md-button>
									</md-menu-item>
			          </md-menu-content>
			        </md-menu>


					        <md-menu md-offset="0 48">
					          <md-button style="color:#fff;" ng-mouseenter="checkifOpen($mdOpenMenu,$event)" ng-click="toggleMenu($mdOpenMenu,$event)">
					            Edit
					          </md-button>
					          <md-menu-content>
					            <md-menu-item>
					      <md-button ng-click="sessions.current().cut()">
					        <md-icon><ng-md-icon icon="content_cut" size="24"></ng-md-icon></md-icon>
					        <md-tooltip>Cut</md-tooltip>
					        Cut
					      </md-button>
					            </md-menu-item>
					            <md-menu-item>
					      <md-button ng-click="sessions.current().copy()">
					        <md-icon><ng-md-icon icon="content_copy" size="24"></ng-md-icon></md-icon>
					        <md-tooltip>Copy</md-tooltip>
					        Copy
					      </md-button>
					            </md-menu-item>
					            <md-menu-item>
					      <md-button ng-click="sessions.current().paste()">
					        <md-icon><ng-md-icon icon="content_paste" size="24"></ng-md-icon></md-icon>
					        <md-tooltip>Paste</md-tooltip>
					        Paste
					      </md-button>
					            </md-menu-item>

					          </md-menu-content>
					        </md-menu>

					        <md-menu md-offset="0 50">
					          <md-button style="color:#fff;" ng-mouseenter="checkifOpen($mdOpenMenu,$event)" ng-click="toggleMenu($mdOpenMenu,$event)">
					            Insert
					          </md-button>
					          <md-menu-content>
					            <md-menu-item>
					      <md-button ng-click="sessions.current().snippet()">
					        <md-icon><ng-md-icon icon="note_add" size="24"></ng-md-icon></md-icon>
					        <md-tooltip>Cut</md-tooltip>
					        Code Snippet
					      </md-button>
					            </md-menu-item>
					          </md-menu-content>
					        </md-menu>
					  </md-menu-bar>
	      </div>
	    </md-toolbar>
			<div class="edit_View_project_container" layout="row" layout-align="start start">
				<div class="edit_View_project_sidebar_container">
					<treecontrol class="tree-classic" tree-model="fileList" options="settings.treeOptions" selected-node="node1">
					   <label ng-dblclick="sessions.load(node)" ng-click="sessions.select(node)" >{{node.name}}</label>
					</treecontrol>
				</div>
				<div class="edit_View_project_files_container">
					<md-content class="md-padding" style="position:relative;top:0px;left:0px;margin:0px 10px;padding:0px;height:100%;bottom:30px;">
				    <md-tabs style="min-height: 100%; bottom: 30px;top:0px;height:100%;" md-selected="selectedTabIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
				      <md-tab class="md-primary" ng-repeat="(fName,sess) in allSessions">
				        <md-tab-label>
			        		{{sess.getHeader()}}
					        <md-button class="md-icon-button" aria-label="Use Android" ng-click="sessions.del(sess)">
										<md-icon><ng-md-icon icon="clear" size="20"></ng-md-icon></md-icon>
					        </md-button>
				        </md-tab-label>
				        <md-tab-body >
				        	<div ng-switch="sess.getViewer()">
					        	<!-- <div ng-switch-when="image"><img ng-src="data:image/JPEG;base64,{{binaryData[fName]}}">Cannot Display Image</div> -->
										<div ng-switch-default style="width:100%;height:100%" ui-ace="sess.getSettings()"></div>
									</div>
				        </md-tab-body>
				      </md-tab>
				    </md-tabs>
				  </md-content>
				</div>
			</div>
		</div>
	</div>
</div>
